@charset "UTF-8";

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

h1{
    text-align: center;
}
form{
    padding: 20px;
    margin-top: 20px;
} 

