@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');


:root{
    --fonte1: "Metamorphous", serif;
    --fonte2: "EB Garamond", serif;
    --fonte3: "Reenie Beanie", serif;
}
  


* {
    margin: 0px;
    padding: 0px;
}

html, body {

    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte1);
    font-size: 10vw;
    font-weight: bolder;
    padding-top: 50px;
    font-variant: small-caps;

}

header > p {
    padding-bottom: 50px;

}

a {
    font-family: var(--fonte2);
    color: white;
    text-decoration: none;
    font-weight: bolder;


}

a:hover{
    text-decoration: underline ;
}

section{
    font-family: var(--fonte3) ;
    font-size: 5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(82, 72, 72);
    color: white;

    
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}